@tailwind base;
@tailwind components;
@tailwind utilities;

.router-link-active:not(.unstyled) {
  @apply rounded-md bg-gradient-to-r from-primary-600 to-primary-600 text-white dark:bg-gradient-to-r dark:from-primary-600 dark:to-primary-600 bg-primary-600 shadow-md shadow-primary-600/30;
  svg {
    @apply text-white;
  }
}

.baklava-input {
  @apply dark:!placeholder-black dark:!placeholder-opacity-80;
}
